@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* COLORS */
    --color-primary: #182434;
    --color-secondary: #283444;
    --color-greenbtn: #08ec04;
    --color-greenbtnHover: #16c913;
    --color-redbtn: #D81515;
    --color-redbtnHover: #B31818;
    --color-shadowLow: #30343975;
    --color-bgText: #323C4C90;
    --color-yellowText: #F5E310;

    /* FONTS */
    --font-monstserrat: "Montserrat", sans-serif;
}

* {
    font-family: "Montserrat", sans-serif;
}